body {
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    background-attachment: fixed;

}

.box {
    background-color: rgb(190, 190, 190);
    width: fit-content;
    border-radius: 20px 20px 20px 20px;
    border: 20px solid rgb(190, 190, 190);
}

.boxGold {
    background-color: rgb(221, 165, 24);
    width: fit-content;
    border-radius: 20px 20px 20px 20px;
    border: 20px solid rgb(221, 165, 24);
    display: flex;
    justify-content: center
}

.btn.addButtom {
    background-color: white;
    position: relative;
    left: 25%;
}


.teamJogo {
    width: 250px;
}

.home {
    text-align: right;
    margin-right: 5px;
}

.away {
    text-align: left;
    margin-left: 5px;
}

.final {
    font-size: 40px;
}

.tabela {
    background-color: white;
    border: 3px solid black
}

.linhas {
    border: 1px solid black;
    padding: 2px;
}

.qualificado {
    background-color: rgb(79, 255, 79);
}

.develop { /* class to not allow generate except on dev */
    /* display: none !important; */
}